@page
@model MyKitchen.Pages.Foods.IndexModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Food
            </th>
            <th>
                Available Units
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Food) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if(item.AvailableFoodUnits?.Count() > 0)
                {
                    @Html.Raw(String.Join(", ", item.AvailableFoodUnits.Select(foodUnit => foodUnit.Unit.Abbreviation)));
                }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
